@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.a6h2SEV40dPhXcOLvafVgAHaDt?rs=1&pid=ImgDetMain&o=7&rm=3);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items:column-reverse;
    min-height: 40vh;
    color: #000000;
}

.menu{
    position: absolute;
    top: 100px;;
    left: 40PX;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.menu .navbar ul li {
    position:relative;
    float:left;

}

.menu .navbar ul li a{
    font-size: 30px;
    padding: 20px;
    color: rgb(255, 255, 255);
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover{
    color: #ffffff;
}

#menu {
    display: none;
}

.menu-icono{
    width: 20px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: rgba(218, 215, 215, 0.214);
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}


.header-content {
    display: flex;
    align-items: center;
}

.header-txt {
    width: 80%;
    align-items:center    ;
}

.header-txt1 {
    width: 100%;
    color: rgb(255, 255, 255);
    align-items:normal;
}

.header-txt span{
    font-size: 14px;
    color: #000000;
    text-transform: capitalize;
}

.header-txt h1 {
    font-size: 50px;
    line-height: 70px;
    color: #fdfdff;
    margin-bottom: 50px;
}
@media(max-width:991px){

    .menu{
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #1F1F1F;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    #menu:checked ~ .navbar{
        display: initial;
    }

    .header{
        min-height: 0vh;
    }

    .header-content{
        flex-direction: column;
        padding: 100px 30px 30px 30px;
    }

    .header-txt{
        width: 100%;
        text-align:center;
    }

    .header-txt h1 {
        margin-bottom: 15px;
    }

    .header-img {
        width: 100%;
    }

    .header-img img{
        width: 100%;
        height: 300px;
    }
}